{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Права доступа</th>
        <th scope="col">username</th>
        <th scope="col">пароль</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Суперпользователь (Admin/SuperUser)</td>
        <td>django</td>
        <td>geekbrains</td>
      </tr>
      <tr>
        <td>Персонал (staff)</td>
        <td>staff</td>
        <td>staff</td>
      </tr>
      <tr>
        <td>Обычный пользователь</td>
        <td>user</td>
        <td>user</td>
      </tr>
    </tbody>
  </table>
{% if form.non_field_errors %}
  {{ form.non_field_errors|escape }}
{% endif %}
{% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}
<form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.username }}
  </div>
  <div class="mb-3">
    {{ form.password }}
  </div>
  <input class="form-control" type="submit" value="войти">
  <button class="btn btn-round form-control">
      <a class="form-control btn btn-primary" href="{% url 'auth:register' %}" role="button">
        Зарегистрироваться
      </a>
  </button>
  <button class="btn btn-round form-control">
      <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
        Вход через ВКонтакте
      </a>
  </button>
  <button class="btn btn-round form-control">
      <a href="{% url 'main' %}">
        На главную
      </a>
  </button>
</form>

{% endblock %}
