{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
{% if form.errors %}
  {{ form.errors|escape }}
{% endif %}
<form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input class="form-control" type="submit" value="зарегистрироваться">
    <a class="form-control btn btn-primary" href="{% url 'auth:login' %}" role="button">Войти</a>
    <a class="form-control btn btn-primary" href="{% url 'main' %}" role="button">На главную</a>
</form>
{% endblock %}
