{% extends 'adminapp/base.html' %}
{% load static %}
{% load project_tags %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="order_list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Дата заказа</th>
          <th scope="col">Последнее изменение</th>
          <th scope="col">Сумма</th>
          <th scope="col">Статус</th>
          <th scope="col">Действия</th>
          <th scope="col">Редактировать</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr {% if not object.is_active %}class="table-success"{% endif %} id="order_list{{ object.pk }}">
            <td>{{ object.pk }}</td>
            <td>{{ object.user.first_name }}</td>
            <td>{{ object.user.last_name }}</td>
            <td>{{ object.created }}</td>
            <td>{{ object.updated }}</td>
            <td id="order_sum">{{ object.get_total_cost }}</td>
            <td>{{ object.get_status_display }}</td>
            <td>
              <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#order{{ object.pk }}" aria-expanded="false" aria-controls="{{ object.order.pk }}">
                Состав заказа
              </button>
              {% if object.status == 'PRD' %}
              <form method="post" action="{% url 'admin_staff:order_is_ready' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm" name="button">Собрать</button>
              </form>
              {% elif object.status == 'RDY' %}
              <form method="post" action="{% url 'adminapp:order_issued' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm" name="button">Выдать</button>
              </form>
              {% endif %}
            </td>
            <td>
              {% if object.is_active %}
              <a class="btn btn-primary btn-sm" href="{% url 'adminapp:order' object.pk %}" role="button">
                Редактировать (formset)
              </a>
              <form method="post" action="{% url 'adminapp:order_delete' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm" name="button">Отменить заказ</button>
              </form>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="collapse" id="order{{ object.pk }}">
                <div class="card card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Наименование товара</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col"></th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Действия</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order_item in object.all_order_items %}
                      <tr class="order_item" id="order_item_{{ order_item.pk }}">
                        <td id="product_name">{{ order_item.product.name }}</td>
                        <td id="product_price">{{ order_item.product.price }}</td>
                        <td id="order_item_quantity">
                          {{ order_item.quantity }}
                        </td>
                        <td>
                          {% if object.is_active %}
                          <i class="fa fa-minus-square-o fa-2x" name='minus' aria-hidden="true" id='{{ order_item.pk }}'></i>
                          <i class="fa fa-plus-square-o fa-2x" name='plus' aria-hidden="true" id='{{ order_item.pk }}'></i>
                          {% endif %}
                        </td>
                        <td id="order_item_sum">{{ order_item.get_product_cost }}</td>
                        <td id="delete">
                          {% if object.is_active %}
                          <button type="button" class="btn btn-danger btn-sm delete" id="{{ order_item.pk }}">Убрать из заказа</button>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                      <tr class="empty">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  {% if object.is_active %}
                  <form class="add_order_item">
                    {% csrf_token %}
                    <label for="add_order_item_{{ object.pk }}" class="col-sm-2 col-form-label">Добавить товар:</label>
                    <input type="hidden" name="order" value="{{ object.pk }}">
                    <select class="form-select" name="product" id="add_order_item_{{ object.pk }}">
                      {% for product in products %}
                      <option value="{{ product.pk }}">
                        {{ product.pk }}. {{ product.name }} ({{ product.category.name }}), цена: {{ product.price }}
                      </option>
                      {% endfor %}
                    </select>
                    <button class="btn btn-primary" type="submit">Добавить</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/orders_staff.js' %}"></script>
{% endblock %}