{% extends 'mainapp/base.html' %}
{% load static %}
{% load project_tags %}

{% block title %}
{{ title|title }}
{% endblock %}

{% block menu %}
<div class="slider">
	{% include "mainapp/include/inc_menu.html" %}
	<div class="text-slider">
		<h3 class="green">тенденции</h3>
		<h3 class="big"> удобные стулья</h3>
		<p>Новый уровень комфорта. Отличные характеристики.</p>
		<a href="#" class="button-order">заказать <img src="{% static 'img/arrow.png' %}" alt=""></a>
	</div>
	<div class="navi">
		<a href="#"></a><a href="#"></a><a href="#"></a>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="featured">
	<div class="featured-menu">
			<a class="active" href="#">Случайные</a><a href="{% url 'mainapp:all_products' %}">Новинки</a>
	</div>
	<a class="explore" href="{% url 'mainapp:all_products' %}">показать все<img src="{% static 'img/arrow.png' %}" alt=""></a>
	<div class="clearfix">
	</div>
	<div class="tab-content">
    {% for product in object_list %}
      <div class="block">
        <a href="{% url 'product' product.pk %}"><img class="random_product" src="{{ product.image|media_folder_products }}" alt="{{ product.name }}">
          <div class="text">
            <img src="{% static 'img/icon-hover.png' %}" alt="img">
            <h4>{{ product.name }}</h4>
            <p>{{ product.short_desc }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
	</div>
</div>

<div class="clr"></div>
{% endblock %}

{% block js %}
  {% if message %}
    <script type="text/javascript">
      alert('{{ message }}')
    </script>
  {% endif %}
{% endblock %}
